body {
    background-color: $blue;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    section {
        max-width: 1024px;
        height: auto;
        margin: 50px auto;
        margin-bottom: 0px;
        padding: 0px 25px;
        .icon-ie:before {
            content: '\e804';
            display: block;
            margin: 0px auto;
            color: $grey;
            font-size: 110px;
        }
        h2 {
            margin: 50px 0px;
            color: $white;
            font-size: 30px;
            text-align: center;
        }
        #page-image {
            max-width: 500px;
            height: 300px;
            margin: 0px auto;
            background-image: url('../img/error.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover;
            -moz-box-shadow: 0px 0px 50px $white;
            -webkit-box-shadow: 0px 0px 50px $white;
            box-shadow: 0px 0px 50px $white;
        }
    }
}